<!doctype html>
<html lang="en">
   <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <title>Gossip Project</title>
   </head>
   <body class="p-3 mb-2 container">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand" href="#">Navbar</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
               <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">Features</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="index">Acceuil</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link disabled" href="#">Disabled</a>
               </li>
               </ul>
           </div>
       </nav>

       <p class="display-3 text-center  mt-5 mb-5">Bienvenue sur le formulaire de creation de compte</p>




       <%= form_for :@user do |f| %>
        <div class="form-group">
          <%= f.label :username, "username:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :username, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "email:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
  
        <div class="form-group">
          <%= f.label :bio, "bio:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :bio, class: "form-control" %>
          </div>
        </div>
      
      
        <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
   <% end %>




  
      
   
  <footer class="footer">
     <div class="container">
       <span class="text-muted">This is the fucking footer</span>
     </div>
   </footer>
   </body>
</html>











































